<a href="https://colab.research.google.com/github/aroomak/MarketAnalytics/blob/main/Market_Basket_Analysis_v001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Market Basket Analysis**

Frequent itemset mining leads to the discovery of associations and correlations between items in transactional or relational datasets. 

It is useful because “Correlation Relationships” among amounts of transaction records can help in many decision-making processes such as the design of catalogs, cross-marketing, and behavior customer shopping Analysis.

Market Basket Analysis, identifies customer buying habits by finding associations between the different items that customers place in their “shopping baskets”

Generally, Association Rule Mining can be viewed in a two-step process:

1. Find all Frequent itemsets: By definition, each of these itemsets will occur at least as
frequently as a pre-established minimum support count, min sup.

2. Generate Association Rules from the Frequent itemsets: By definition, these
rules must satisfy minimum support and minimum confidence.

Algorithms that can be used in Market Basket Analysis
“to predict the probability of items that are being bought together by customers”

* AIS
* SETM Algorithm
* Apriori Algorithm
* FP Growth

Here I use ***Apriori*** algorithm from `mlxtend` library.

In [1]:
## Import Needed Libraries 
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
%matplotlib inline

Download the transactional data set from UCI Machine Learning Repository

In [2]:
df = pd.read_excel('http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx')
print("Dataset shape= ",df.shape)
df.head()

Dataset shape=  (541909, 8)

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [3]:
df.info

<bound method DataFrame.info of        InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]>

In [4]:
 ## check the data types 
 df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [5]:
## check the nan values 
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Data *Preparation*

In [6]:
## drop rows without InvoiceNo
df.dropna(axis=0, subset=['InvoiceNo'] , inplace=True)
# df.shape

In [7]:
## remove white space in the dexcription collumn 
df['Description'] = df['Description'].str.strip()
df.head(5)

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

Invoice numbers start with C means credit transactions

In [9]:
## credit transactions: invoices that start with C 
df['InvoiceNo'] = df['InvoiceNo'].astype('str')   #convert the description columnd data to string, because we need this for analysis
print(df[ df['InvoiceNo'].str.startswith('C') ].shape)
df[ df['InvoiceNo'].str.startswith('C') ]

(9288, 8)

       InvoiceNo StockCode  ... CustomerID         Country
141      C536379         D  ...    14527.0  United Kingdom
154      C536383    35004C  ...    15311.0  United Kingdom
235      C536391     22556  ...    17548.0  United Kingdom
236      C536391     21984  ...    17548.0  United Kingdom
237      C536391     21983  ...    17548.0  United Kingdom
...          ...       ...  ...        ...             ...
540449   C581490     23144  ...    14397.0  United Kingdom
541541   C581499         M  ...    15498.0  United Kingdom
541715   C581568     21258  ...    15311.0  United Kingdom
541716   C581569     84978  ...    17315.0  United Kingdom
541717   C581569     20979  ...    17315.0  United Kingdom

[9288 rows x 8 columns]

Remove credit transactions

In [10]:
df['InvoiceNo'] = df['InvoiceNo'].astype('str')
df = df[~df['InvoiceNo'].str.contains('C')]

Get the list of countries available in the dataset and number of record at each country

In [12]:
# df.groupby('Country')['InvoiceNo'].count().sort_values(ascending=False)
df['Country'].value_counts()

United Kingdom          487622
Germany                   9042
France                    8408
EIRE                      7894
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1967
Portugal                  1501
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Unspecified                446
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     295
Hong Kong                  284
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     18
Saudi Arabia                 9
Name: Country, dtype: int64

We want to evaluate the market per country separately 
Couuntry1 => Germany

In [13]:
df_c1 = df[df['Country']=='Germany']
df_c1.head()

     InvoiceNo StockCode  ... CustomerID  Country
1109    536527     22809  ...    12662.0  Germany
1110    536527     84347  ...    12662.0  Germany
1111    536527     84945  ...    12662.0  Germany
1112    536527     22242  ...    12662.0  Germany
1113    536527     22244  ...    12662.0  Germany

[5 rows x 8 columns]

One hot encoding to create the basket of transaction for the selected country

In [17]:
basket_c1 = (df_c1.groupby(['InvoiceNo', 'Description'])['Quantity']  ## Group by InvoiceNo and Description, Sum by Quantity of 
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

basket_c1.shape

(457, 1695)

In [24]:
basket_c1.head(5)

Description  10 COLOUR SPACEBOY PEN  ...  ZINC WILLIE WINKIE  CANDLE STICK
InvoiceNo                            ...
536527                          0.0  ...                               0.0
536840                          0.0  ...                               0.0
536861                          0.0  ...                               0.0
536967                          0.0  ...                               0.0
536983                          0.0  ...                               0.0

[5 rows x 1695 columns]

---


Since we have a basket analysis problem the presence of an item matters for us. (For example in RFM problems we pay more attention to the number of occurances).

Each item has a Boolean variable that represents the presence or absence of that item in a basket. 

Now each basket can then be represented by a Boolean vector of values that are assigned to these variables.

In [25]:
basket_sets_c1 = basket_c1.applymap(lambda x: 0 if x<=0 else 1) 
basket_sets_c1.head(5)

Description  10 COLOUR SPACEBOY PEN  ...  ZINC WILLIE WINKIE  CANDLE STICK
InvoiceNo                            ...
536527                            0  ...                                 0
536840                            0  ...                                 0
536861                            0  ...                                 0
536967                            0  ...                                 0
536983                            0  ...                                 0

[5 rows x 1695 columns]

In [26]:
basket_sets_c1.drop('POSTAGE', inplace=True, axis=1)    ## Drop POSTAGE column becauuse we dont need it
basket_sets_c1.shape

(457, 1694)

* **Support** is the relative frequency that the rules show up. In many 
instances, you may want to look for high support in order to make sure it is a useful relationship. However, there may be instances where a low support is useful if you are trying to find “hidden” relationships.


\begin{align}
Support(item I) = \frac{Total \space No. of transactions \space \space with \space item I}{ Total \space No \space of \space transactions) } 
\end{align}

---

* **Confidence** is a measure of the reliability of the rule. A confidence of .5 in the above example would mean that in 50% of the cases where Diaper and Gum were purchased, the purchase also included Beer and Chips. For product recommendation, a 50% confidence may be perfectly acceptable but in a medical situation, this level may not be high enough.

\begin{align}
Confidence(item I_1 → I_2) = \frac{No \space of \space transactions \space \space with \space I_1 \space and \space I_2}{ No \space of \space transactions \space with \space I_1 } 
\end{align}

---

* **Lift** is the ratio of the observed support to that expected if the two rules were independent (see wikipedia). The basic rule of thumb is that a lift value close to 1 means the rules were completely independent. Lift values > 1 are generally more “interesting” and could be indicative of a useful rule pattern.


\begin{align}
Lift(item I_1 → I_2) = \frac{Confidence(Item \space I_1 → I_2)}{Support(Item \space I_2)} 
\end{align}



---


Generate frequent item sets that have a support of at least 7%

In [27]:
frequent_itemsets = apriori(basket_sets_c1, min_support=0.07, use_colnames=True)

Generate the rules with their corresponding support, confidence and lift

In [29]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head(6)

                            antecedents  ... conviction
0    (PLASTERS IN TIN WOODLAND ANIMALS)  ...   1.640006
1  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.237951
2   (ROUND SNACK BOXES SET OF 4 FRUITS)  ...   4.529540
3  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.814509
4                  (SPACEBOY LUNCH BOX)  ...   2.365427
5  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.256018

[6 rows x 9 columns]

# Analyze the result and make recommendations

The number of times *'ROUND SNACK BOXES SET OF4 WOODLAND'* has peresented in a basket, independent of other items

In [32]:
basket_sets_c1['ROUND SNACK BOXES SET OF4 WOODLAND'].sum()

112

The number of times *'SPACEBOY LUNCH BOX'* has peresented in a basket, independent of other items

In [33]:
basket_sets_c1['SPACEBOY LUNCH BOX'].sum()

47

* High lift value which means that it occurs more frequently than would be expected given the number of transaction and product combinations.

**Filter the results (rules)**

* Here look for a large lift (3) and high confidence (.3):

In [36]:
rules[ (rules['lift'] >= 3) &
       (rules['confidence'] >= 0.3) ]

                            antecedents  ... conviction
2   (ROUND SNACK BOXES SET OF 4 FRUITS)  ...   4.529540
3  (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.814509

[2 rows x 9 columns]

In looking at the rules, it seems that the *(ROUND SNACK BOXES SET OF 4 FRUITS)* and *(ROUND SNACK BOXES SET OF4 WOODLAND)* are purchased together in a manner that is higher than the overall probability would suggest.

* The higher the **lift value**, the higher the association between the items willl. If the lift value is more than 1, it is enough for us to say that those two items are associated each other. In this case, the highest lift value is 3.400298. 

* **Support** value of the *(ROUND SNACK BOXES SET OF 4 FRUITS)* and *(ROUND SNACK BOXES SET OF4 WOODLAND)* is 0.1312, which means, there are 13.12% out of all transactions, these two items were sold together. 

* **Confidence** value is influenced by the antecedent and consequent. If the antecedent is higher than the consequent, the opposite rule is not correct. For example in this case, customers more intend to first buy *(ROUND SNACK BOXES SET OF 4 FRUITS)* then maybe they will have intention for *(ROUND SNACK BOXES SET OF4 WOODLAND), not in the other way around.

It is also interesting is to see how the combinations vary by country of purchase. Let’s check out for France.

In [39]:
basket_c2 = (df[df['Country'] =="France"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

basket_sets_c2 = basket_c2.applymap(lambda x: 0 if x<=0 else 1) 
basket_sets_c2.drop('POSTAGE', inplace=True, axis=1)
frequent_itemsets2 = apriori(basket_sets_c2, min_support=0.05, use_colnames=True)
rules2 = association_rules(frequent_itemsets2, metric="lift", min_threshold=1)

rules2[ (rules2['lift'] >= 3) &
        (rules2['confidence'] >= 0.3)]

                                          antecedents  ... conviction
0                         (ALARM CLOCK BAKELIKE PINK)  ...   3.283859
1                        (ALARM CLOCK BAKELIKE GREEN)  ...   3.791383
2                        (ALARM CLOCK BAKELIKE GREEN)  ...   4.916181
3                          (ALARM CLOCK BAKELIKE RED)  ...   5.568878
4                         (ALARM CLOCK BAKELIKE PINK)  ...   3.293135
..                                                ...  ...        ...
81  (SET/6 RED SPOTTY PAPER PLATES, SET/6 RED SPOT...  ...   4.625850
82  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.897959
83                    (SET/6 RED SPOTTY PAPER PLATES)  ...   4.081633
84               (SET/20 RED RETROSPOT PAPER NAPKINS)  ...   3.510204
85                      (SET/6 RED SPOTTY PAPER CUPS)  ...   3.232653

[68 rows x 9 columns]

Interestingly we can see how the results can be different.

# Conclusion 

**This results can be applied in various business insights. For example:**
1. Item Replacements.
2. Product Bundling. 
3. Customer Recommendations and Discounts 
4. Inventory Management systems.