<a href="https://colab.research.google.com/github/aroomak/MarketAnalytics/blob/main/Market_Basket_Analysis_v001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**What is Market Basket Analysis?**

Frequent itemset mining leads to the discovery of associations and correlations between items in huge transactional or relational datasets. 

“Correlation Relationships” among huge amounts of transaction records can help in many decision-making processes such as the design of catalogs, cross-marketing, and behavior customer shopping Analysis.

Market Basket Analysis, identifies customer buying habits by finding associations between the different items that customers place in their “shopping baskets”

Generally, Association Rule Mining can be viewed in a two-step process:

1. Find all Frequent itemsets: By definition, each of these itemsets will occur at least as
frequently as a pre-established minimum support count, min sup.

2. Generate Association Rules from the Frequent itemsets: By definition, these
rules must satisfy minimum support and minimum confidence.

Algorithms that can be used in Market Basket Analysis
“to predict the probability of items that are being bought together by customers”

* AIS
* SETM Algorithm
* Apriori Algorithm
* FP Growth

Import Needed Libraries

In [ ]:
##https://pbpython.com/market-basket-analysis.html

In [62]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
%matplotlib inline

Download the transactional data set from UCI Machine Learning Repository

In [63]:
df = pd.read_excel('http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx')
print("Dataset shape= ",df.shape)
df.head()

Dataset shape=  (541909, 8)

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [64]:
df.info

<bound method DataFrame.info of        InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]>

In [65]:
 ## check the data types 
 df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [66]:
## check the nan values 
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Cleaning the data

In [67]:
## drop rows without InvoiceNo
df.dropna(axis=0, subset=['InvoiceNo'] , inplace=True)
# df.shape

In [68]:
## remove white space in the dexcription collumn 
df['Description'] = df['Description'].str.strip()
df.head(5)

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

Invoice numbers start with C means credit transactions

In [69]:
## Invoices that start with C 
df['InvoiceNo'] = df['InvoiceNo'].astype('str')
print(df[ df['InvoiceNo'].str.startswith('C') ].shape)
df[ df['InvoiceNo'].str.startswith('C') ]

(9288, 8)

       InvoiceNo StockCode  ... CustomerID         Country
141      C536379         D  ...    14527.0  United Kingdom
154      C536383    35004C  ...    15311.0  United Kingdom
235      C536391     22556  ...    17548.0  United Kingdom
236      C536391     21984  ...    17548.0  United Kingdom
237      C536391     21983  ...    17548.0  United Kingdom
...          ...       ...  ...        ...             ...
540449   C581490     23144  ...    14397.0  United Kingdom
541541   C581499         M  ...    15498.0  United Kingdom
541715   C581568     21258  ...    15311.0  United Kingdom
541716   C581569     84978  ...    17315.0  United Kingdom
541717   C581569     20979  ...    17315.0  United Kingdom

[9288 rows x 8 columns]

Remove credit transactions

In [70]:
df['InvoiceNo'] = df['InvoiceNo'].astype('str')
df = df[~df['InvoiceNo'].str.contains('C')]

Get the list of countries available in the dataset

In [74]:
# df.groupby('Country')['InvoiceNo'].count().sort_values(ascending=False)
df.value_counts()

Country
United Kingdom          487622
Germany                   9042
France                    8408
EIRE                      7894
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1967
Portugal                  1501
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Unspecified                446
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     295
Hong Kong                  284
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     18
Saudi Arabia                 9
Name: InvoiceNo, dtype: int64

We want to evaluate the market per country separately 
Couuntry1 = France

In [76]:
df_c1 = df[df['Country']=='France']
df_c1.head()

   InvoiceNo StockCode  ... CustomerID  Country
26    536370     22728  ...    12583.0   France
27    536370     22727  ...    12583.0   France
28    536370     22726  ...    12583.0   France
29    536370     21724  ...    12583.0   France
30    536370     21883  ...    12583.0   France

[5 rows x 8 columns]

In [82]:
## check the duplicate inoice OR maybe customer id

One hot encoding

In [81]:
basket_c1 = (df_c1.groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

basket_c1.shape

(392, 1563)

In [86]:
print(basket_c1.columns)

Index(['10 COLOUR SPACEBOY PEN', '12 COLOURED PARTY BALLOONS',
       '12 EGG HOUSE PAINTED WOOD', '12 MESSAGE CARDS WITH ENVELOPES',
       '12 PENCIL SMALL TUBE WOODLAND', '12 PENCILS SMALL TUBE RED RETROSPOT',
       '12 PENCILS SMALL TUBE SKULL', '12 PENCILS TALL TUBE POSY',
       '12 PENCILS TALL TUBE RED RETROSPOT', '12 PENCILS TALL TUBE WOODLAND',
       ...
       'WRAP VINTAGE PETALS  DESIGN', 'YELLOW COAT RACK PARIS FASHION',
       'YELLOW GIANT GARDEN THERMOMETER', 'YELLOW SHARK HELICOPTER',
       'ZINC  STAR T-LIGHT HOLDER', 'ZINC FOLKART SLEIGH BELLS',
       'ZINC HERB GARDEN CONTAINER', 'ZINC METAL HEART DECORATION',
       'ZINC T-LIGHT HOLDER STAR LARGE', 'ZINC T-LIGHT HOLDER STARS SMALL'],
      dtype='object', name='Description', length=1563)

---
Each item has a Boolean variable that represents the presence or absence of that item. 

Now each basket can then be represented by a Boolean vector of values that are assigned to these variables.

In [96]:
basket_sets_c1 = basket_c1.applymap(lambda x: 0 if x<=0 else 1) 
basket_sets_c1.head(5)

Description  10 COLOUR SPACEBOY PEN  ...  ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo                            ...
536370                            0  ...                                0
536852                            0  ...                                0
536974                            0  ...                                0
537065                            0  ...                                0
537463                            0  ...                                0

[5 rows x 1563 columns]

In [104]:
# def unti_encoding(x):
#   if x <= 0:
#     return 0
#   if x>= 1:
#     return 1 

# basket_sets_c1 = basket_c1.applymap(unti_encoding)

In [99]:
basket_sets_c1.drop('POSTAGE', inplace=True, axis=1)    ## Drop POSTAGE column 
basket_sets_c1.shape

(392, 1562)

* **Support** is the relative frequency that the rules show up. In many 
instances, you may want to look for high support in order to make sure it is a useful relationship. However, there may be instances where a low support is useful if you are trying to find “hidden” relationships.


\begin{align}
Support(item I) = \frac{Total \space No. of transactions \space \space with \space item I}{ Total \space No \space of \space transactions) } 
\end{align}

---

* **Confidence** is a measure of the reliability of the rule. A confidence of .5 in the above example would mean that in 50% of the cases where Diaper and Gum were purchased, the purchase also included Beer and Chips. For product recommendation, a 50% confidence may be perfectly acceptable but in a medical situation, this level may not be high enough.

\begin{align}
Confidence(item I_1 → I_2) = \frac{No \space of \space transactions \space \space with \space I_1 \space and \space I_2}{ No \space of \space transactions \space with \space I_1 } 
\end{align}

---

* **Lift** is the ratio of the observed support to that expected if the two rules were independent (see wikipedia). The basic rule of thumb is that a lift value close to 1 means the rules were completely independent. Lift values > 1 are generally more “interesting” and could be indicative of a useful rule pattern.


\begin{align}
Lift(item I_1 → I_2) = \frac{Confidence(Item \space I_1 → I_2)}{Support(Item \space I_2)} 
\end{align}

Generate frequent item sets that have a support of at least 7%

In [105]:
frequent_itemsets = apriori(basket_sets_c1, min_support=0.07, use_colnames=True)

Generate the rules with their corresponding support, confidence and lift

In [106]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

                    antecedents  ... conviction
0   (ALARM CLOCK BAKELIKE PINK)  ...   3.283859
1  (ALARM CLOCK BAKELIKE GREEN)  ...   3.791383
2    (ALARM CLOCK BAKELIKE RED)  ...   5.568878
3  (ALARM CLOCK BAKELIKE GREEN)  ...   4.916181
4                     (POSTAGE)  ...   1.014676

[5 rows x 9 columns]

high lift value which means that it occurs more frequently than would be expected given the number of transaction and product combinations.

filter the dataframe using standard pandas code. In this case, look for a large lift (6) and high confidence (.8):

In [107]:
rules[ (rules['lift'] >= 6) &
       (rules['confidence'] >= 0.8) ]

                                           antecedents  ... conviction
2                           (ALARM CLOCK BAKELIKE RED)  ...   5.568878
3                         (ALARM CLOCK BAKELIKE GREEN)  ...   4.916181
74                     (SET/6 RED SPOTTY PAPER PLATES)  ...   4.336735
76                     (SET/6 RED SPOTTY PAPER PLATES)  ...  21.556122
77                       (SET/6 RED SPOTTY PAPER CUPS)  ...   7.852041
78                 (POSTAGE, ALARM CLOCK BAKELIKE RED)  ...   5.117347
79               (POSTAGE, ALARM CLOCK BAKELIKE GREEN)  ...   5.977041
114           (POSTAGE, SET/6 RED SPOTTY PAPER PLATES)  ...  18.107143
115             (POSTAGE, SET/6 RED SPOTTY PAPER CUPS)  ...   6.688776
118                    (SET/6 RED SPOTTY PAPER PLATES)  ...   4.413265
120  (SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...  ...  34.489796
121  (SET/6 RED SPOTTY PAPER PLATES, SET/6 RED SPOT...  ...   4.625850
122  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.897959
126  (POSTAGE, SET/6 RED SPOTTY PAPER PLATES, SET/2...  ...  28.454082
128  (POSTAGE, SET/20 RED RETROSPOT PAPER NAPKINS, ...  ...  28.790816

[15 rows x 9 columns]

In looking at the rules, it seems that the green and red alarm clocks are purchased together and the red paper cups, napkins and plates are purchased together in a manner that is higher than the overall probability would suggest.

At this point, you may want to look at how much opportunity there is to use the popularity of one product to drive sales of another. For instance, we can see that we sell 340 Green Alarm clocks but only 316 Red Alarm Clocks so maybe we can drive more Red Alarm Clock sales through recommendations?

In [110]:
basket_sets_c1['ALARM CLOCK BAKELIKE GREEN'].sum()

38

In [111]:
basket_sets_c1['ALARM CLOCK BAKELIKE RED'].sum()

37

It is also interesting is to see how the combinations vary by country of purchase. Let’s check out what some popular combinations might be in Germany

In [113]:
basket_c2 = (df[df['Country'] =="Germany"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

basket_sets_c2 = basket_c2.applymap(lambda x: 0 if x<=0 else 1) 
basket_sets_c2.drop('POSTAGE', inplace=True, axis=1)
frequent_itemsets2 = apriori(basket_sets_c2, min_support=0.05, use_colnames=True)
rules2 = association_rules(frequent_itemsets2, metric="lift", min_threshold=1)

rules2[ (rules2['lift'] >= 4) &
        (rules2['confidence'] >= 0.5)]

                        antecedents  ... conviction
1   (PLASTERS IN TIN CIRCUS PARADE)  ...   2.076984
7        (PLASTERS IN TIN SPACEBOY)  ...   2.011670
11    (RED RETROSPOT CHARLOTTE BAG)  ...   5.587746

[3 rows x 9 columns]